
<link rel="stylesheet" href="/assets/css/editclient.css" media="screen">

<div class="container-fluid page" id="editclient" ng-model="client">

    <div class="row" id="page-header">
        <div class="header col-md-12">
            <h2>{{ client.id == 0 ? "New Client" : "Edit Client: " + client.name}}</h2>
        </div>
    </div>

    <div class="row" id="page-content">
        <div class="form-horizontal form">

            <div class="col-md-2 sidebar fixed" id="meta">
                <div class="button-container"><button type="button" class="btn btn-sm btn-primary" id="back-to-clients" ng-click="backToClients()"><span class="glyphicon glyphicon-arrow-left"></span> Back to Clients</button></div>
                <div class="button-container"><button type="submit" class="btn btn-default" ng-click="saveClient()" ng-disabled="!clientForm.$valid">Save Client</button></div>
                <div class="button-container"><button type="button" class="btn btn-sm btn-danger" id="delete-client" ng-click="deleteClient()"><span class="glyphicon glyphicon-remove"></span> Delete Client</button></div>
            </div>
        
            <div class="col-md-7 form content" id="clientForm">
                <div class="section">
                    <form class="form-horizontal" role="form" name="clientForm" ng-submit="saveClient(clientForm.$valid)">
                        <h2 class="section-title">Client Details</h2>
                        <div class="section-content">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Client Name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="client.name" required />
                                    <p ng-show="!clientForm.name.$valid && clientForm.name.$dirty" class="error-block">Name is required.</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="section" id="clientStations">
                    <h2 class="section-title">Stations</h2>
                    <div class="section-content">

                        <form class="form-horizontal form" role="form" name="stationForm" id="stationForm" novalidate>
                            <div class="station-options">
                                 <div class="button-container" ng-show="editingStation != null"><button type="submit" class="btn btn-default" ng-click="cancelClientStation()">Cancel</button></div>
                                 <div class="button-container" ng-show="editingStation == null"><button type="submit" class="btn btn-default btn-sm" ng-click="newClientStation()">Create New Station</button></div>
                                <div class="button-container" ng-show="editingStation != null && editingStation.id != 0"><button type="submit" class="btn btn-danger" ng-click="deleteClientStation()">Delete Station</button></div>
                                <div class="button-container" ng-show="editingStation != null"><button type="submit" class="btn btn-primary" ng-click="saveClientStation()" ng-disabled="!stationForm.$valid">Save Station</button></div>
                                <div class="clearfix"></div>
                            </div>

                            <div ng-show="editingStation != null" class="stationFormContainer">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="station_name" class="col-sm-2 control-label">* Station Name</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="station_name" name="station_name" placeholder="Name" ng-model="editingStation.name" required />
                                            <p ng-show="!stationForm.station_name.$valid && stationForm.station_name.$dirty" class="error-block">Name is required.</p>
                                        </div>
                                    </div>

                                    <div id="addressWrapper">
                                        <div class="form-group">
                                            <label for="address" class="col-sm-2 control-label">* Address</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="stationAddress" name="stationAddress" placeholder="* Address" ng-model="editingStation.address" required />
                                                <p ng-show="!stationForm.stationAddress.$valid && stationForm.stationAddress.$dirty" class="error-block">Address is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5 col-sm-offset-2">
                                                <input type="text" class="form-control" id="address2" name="address2" placeholder="Address Line 2" ng-model="editingStation.address2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3 col-sm-offset-2">
                                                <input type="text" class="form-control" id="stationCity" name="stationCity" placeholder="* City" ng-model="editingStation.city" required />
                                                <p ng-show="!stationForm.stationCity.$valid && stationForm.stationCity.$dirty" class="error-block">City is required.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="c-select">
                                                    <select id="state" name="state" class="select2" ng-model="editingStation.state">
                                                        <option value="0">* State...</option>
                                                        <option ng-repeat="(key,value) in states" value="{{key}}" ng-selected="{{key == editingStation.state}}">{{value}}</option>
                                                    </select>
                                                    <p ng-show="stationStateIsValid" class="error-block">State is required.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" id="stationZipcode" name="stationZipcode" placeholder="* Zip Code" ng-model="editingStation.zipcode" required ng-minlength="5" /> 
                                                <p ng-show="!stationForm.stationZipcode.$valid && stationForm.stationZipcode.$dirty" class="error-block">Zipcode is required.</p>
                                            </div>
                                        </div>
                                    </div>


                                <div class="form-group">
                                    <label for="stationPhone" class="col-sm-1 col-sm-offset-1 control-label">Phone</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="stationPhone" name="stationPhone" placeholder="Phone" ng-model="editingStation.phone_number" />
                                        <p ng-show="stationForm.stationPhone.$error.pattern" class="error-block">Phone number must include the area code.</p>
                                    </div>
                                    <label for="stationFax" class="col-sm-1 control-label">Fax</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="phone" name="stationFax" placeholder="Fax" ng-pattern="/^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/" ng-model="editingStation.fax_number" />
                                    </div>
                                </div>

                                </div>
                            </div>

                        </form>

                        <div ng-show="editingStation == null && client.client_stations.length > 0" class="col-sm-12 existing-stations">
                            <h4>Existing Stations:</h4>
                             <table class="table table-striped data-table" id="clientStationsList">
                              <thead>
                                <th>Station Name</th>
                                <th>Address</th>
                                <th colspan="2">Phone</th>
                              </thead>
                              <tbody>
                                <tr ng-repeat="c in client.client_stations" ng-click="editClientStation(c)">
                                    <td>{{c.name}}</td>
                                    <td>{{c.address}}{{{true: ' ', false: ', '}[c.address2 != '']}} {{c.address2}} {{c.city}}, {{c.state}} {{c.zipcode}} </td>
                                    <td>{{c.phone_number}}</td>
                                    <td><a class="btn btn-default btn-xs" ng-click="editClientStation(c)">Edit</a></td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>

                <div class="section" id="recentOrders">
                    <h2 class="section-title">Recent Orders</h2>
                    <div class="section-content">

                        <div ng-show="recentOrders != null && recentOrders.length > 0" class="col-sm-12">
                         <table class="table table-striped data-table">
                          <thead>
                            <tr layout="row" layout-fill>
                                <th flex="1">#</th>
                                <th flex="3">Date Created</th>
                                <th flex="1">Total</th>
                                <th flex="1">View</th>
                            </tr>   
                          </thead>
                          <tbody>
                            <tr ng-repeat="o in recentOrders" layout="row" layout-fill ng-click="gotoOrder(o)">
                                <td flex="1">{{o.order_number}}</td>
                                <td flex="3">{{o.date_created | formatDate}}</td>
                                <td flex="1"><span ng-if="o.total">$</span>{{(o.total || '-')}}</td>
                                <td flex="1"><a href="#/editorder/{{o.id}}" class="btn btn-default btn-xs">View</a></td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                        <div class="clearfix"></div>

                        <div ng-show="recentOrders.length == 0 || client.id == 0" class="col-sm-8 none-found">
                            <h5 class="none-found">No recent orders found.</h5>
                        </div>
                        <div class="clearfix"></div>

                        <img ng-show="recentOrders == null && client.id != 0" src="/assets/img/loader.gif"/>
                    </div>
                </div>

                <div class="section" id="payments" style="display:none;">
                    <h2 class="section-title">Payments</h2>
                    <div class="section-content">
                        <div ng-show="payments.length == 0 || client.id == 0" class="col-sm-8 none-found">
                            <h4 class="none-found">No payments found.</h4>
                        </div>
                        <div class="clearfix"></div>

                        <img ng-show="payments == null && client.id != 0" src="/assets/img/loader.gif"/>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>