
<link rel="stylesheet" href="assets/css/home.css" media="screen">

<div id="manage">

    <div class="container-fluid page" id="manage">

    	<div class="row" id="page-header">
    		<div class="header col-md-12 center">
		    	<h2>Choose an Action</h2>
		    </div>
    	</div>

    	<div class="row" id="page-content" style="display: none;">
    		
            <div class="home-actions">
                <div class="button-container"><button type="submit" class="btn btn-primary" ng-click="gotoNewOrder()">Create a New Order</button></div>
                <div class="button-container"><button type="button" class="btn btn-default" id="delete-client" ng-click="gotoOrderList()">See Existing Orders</button></div>
                <div class="button-container"><button type="button" class="btn btn-primary" id="back-to-clients" ng-click="gotoNewClient()">Create a New Client</button></div>
                <div class="button-container"><button type="button" class="btn btn-default" id="back-to-clients" ng-click="gotoClientList()">See Existing Clients</button></div>
                <div class="button-container"><button type="button" class="btn btn-primary" id="back-to-clients" ng-click="gotoNewInvoice()">Create a New Invoice</button></div>
                <div class="button-container"><button type="button" class="btn btn-default" id="back-to-clients" ng-click="gotoInvoiceList()">See Existing Invoices</button></div>
                <div class="button-container"><button type="button" class="btn btn-primary" id="back-to-clients" ng-click="gotoNewManifest()">Create a New Manifest</button></div>
                <div class="button-container"><button type="button" class="btn btn-default" id="back-to-clients" ng-click="gotoManifestList()">See Existing Manifests</button></div>
            </div>

    	</div>

    </div>

</div>
  	